# Nuxt dev/build outputs
frontend/.output
frontend/build
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Backend specific ignores
backend/.idea
backend/vendor
backend/test.db  # Assuming this is the name of your test database
